.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.plus-minus-toggle {
    cursor: pointer;
    height: 21px;
    position: absolute;
    width: 21px;
    left:-10px;
    top:40%;
    z-index:2;

    &:before,
    &:after {
      background: #eee;
      content: '';
      height: 5px;
      left: 0;
      position: absolute;
      top: 0;
      width: 21px;
      transition: transform 500ms ease;
    }

    &:after {
      transform-origin: center;
    }

    &.collapsed {
      &:after {
        transform: rotate(90deg);

      }

      &:before {
        transform: rotate(180deg);
      }
    }
}

.top-header {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.head-left {
	width: 40%;
	@media screen and (min-width: $tabwidth) {
		width: 30%;
	}
}
.head-right {
	width: 60%;
	text-align: right;
	@media screen and (min-width: $tabwidth) {
		width: 70%;
	}
	span {
		font-size: 18px;
	}
	.text1 {
		font-weight: 600;
	}
	.fa-phone {
		font-size: 12px;
		position: relative;
		top: -2px;
		margin-left: 5px;
		margin-right: 5px;
	}
	.phone {
		text-decoration: none;
		color: $color-red;
		font-weight: 700;
	}
}
.banner-section {
	width: 100%;
	overflow: hidden;
}
.banner-section,.banner {
	position: relative;
	height: 100%;
}
.banner-image {
	img {
		width: 100%;
		height: auto;
		float: left;
	}
}
.banner-caption {
	width: 70%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@media screen and (min-width: $tabwidth) {
		width: 65%;
	}
	@media screen and (min-width: $midwidth) {
		width: 55%;
	}
	.shape {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.shape1:before,
	.shape2:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: -20%;
		height: 100%;
		transform: skew(-20deg);
	}
	.shape1:before {
		width: 120%;
		background: rgba(0,0,0,.65);
	}
	.shape2:before {
		width: 130%;
		background: rgba(0,0,0,.3);
	}
	.mid {
		padding-left: 30px;
		color: #FFF;
		z-index: 10;
		@include vertical-align(relative);
		@media screen and (min-width: $midwidth) {
			padding-left: 50px;
		}
	}
	h2,h3 {
		margin: 0 0;
		line-height: 1.2;
	}
	h3 {
		font-size: 16px;
		font-weight: 400;
		@media screen and (min-width: $midwidth) {
			font-size: 2.5vw;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 30px;
		}
	}
	h2 {
		font-size: 20px;
		font-weight: 500;
		@media screen and (min-width: $midwidth) {
			font-size: 4vw;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 50px;
		}
	}
}

.textwrap {
	padding-left: 20px;
	padding-right: 20px;
	box-sizing:border-box;
	@media screen and (min-width: $tabwidth) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.home-columns {
	padding-top: 30px;
	padding-bottom: 30px;
	@media screen and (min-width: $midwidth) {
		@include flexbox();
		@include flexbox-justify(center);
		@include flexbox-align-content(space-between);
		padding-top: 60px;
		padding-bottom: 60px;
		margin-right: -30px;
		margin-left: -30px;
	}
	.column {
		width: 100%;
		margin-bottom: 50px;
		@media screen and (min-width: $midwidth) {
			margin-bottom: 0;
		}
	}
	.icon {
		text-align: center;
	}
	.title {
		margin: 8px 0 10px;
		font-size: 18px;
		font-weight:600;
		text-align: center;
	}
	.textwrap {
		padding-left: 0;
		padding-right: 0;
		@media screen and (min-width: $tabwidth) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}

.intro-section {
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-justify(center);
	}
	.col{
		float: left;
		position: relative;
		box-sizing: border-box;
		width: 100%;
	}
	.titlecol {
		background: $color-red;
		color: #FFF;
		@media screen and (min-width: $tabwidth) {
			width: 30%;
		}
		.textwrap {
			text-align: left;
			width: 100%;
			box-sizing: border-box;
			padding-top: 50px;
			padding-bottom: 50px;
			text-align: center;
			@media screen and (min-width: $tabwidth) {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				text-align: right;
				padding-top: 0;
				padding-bottom: 0;
			}
			span {
				clear: none;
			}
		}
		.small,.large {
			text-transform: uppercase;
			line-height: 1.2;
			position: relative;
		}
		.small {
			font:{
				size:25px;
				weight:300;
			};
			letter-spacing: 5px;
			@media screen and (min-width: $tabwidth) {
				font-size:2.2vw;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 39px;
			}
		}
		.large {
			font:{
				size:35px;
				weight:700;
			};
			@media screen and (min-width: $tabwidth) {
				font-size:3.5vw;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 50px;
			}
			&:after {
				content:"";
				display: block;
				width: 65%;
				height: 2px;
				background:#FFF;
				position: absolute;
				right: 0;
				margin-top: 15px;
			}
		}
	}
	.textcol {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: scroll;
		color: #FFF;
		@media screen and (min-width: $tabwidth) {
			width: 70%;
		}
		&:after {
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.65);
			position: absolute;
			top: 0;
			left: 0;
		}
		.textwrap {
			position: relative;
			z-index: 2;
			padding-top: 50px;
			padding-bottom: 50px;
			font-size: 20px;
		}
	}
}

.home-testimonial {
	padding-top: 60px;
	padding-bottom: 60px;
	.wrap {
		margin: 0 auto;
		@media screen and (min-width: $tabwidth) {
			width: 70%;
			@include flexbox();
			@include flexbox-justify(center);
			@include flexbox-align-items(center);
		}
	}
	.text {
		box-sizing: border-box;
		position: relative;
		overflow: hidden;
		padding-left: 100px;
		font-style: italic;
		@media screen and (min-width: $tabwidth) {
			width: 70%;
			padding-right: 50px;
		}
		&:before {
			font-family: Arial,san-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 150px;
			content:"\201C";
			display: inline-block;
			position: absolute;
			top: -12px;
			left: 0;
			line-height: 1;
		}
		.author {
			font-style: normal;
			font-size: 12px;
			text-align: right;
		}
		p {
			margin-top: 0;
			margin-bottom: 1.5em;
		}
	}
	.cta {
		@media screen and (min-width: $tabwidth) {
			width: 30%;
		}
		.swipe-effect {
			width: 185px;
			&:after {
				top: 20px;
			}
		}
		.btn {
			font-size: 18px;
			width: 100%;
			padding: 20px 30px 20px 20px;
			position: relative;
			.fa-caret-right {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 15px;
			}
			&:hover {

			}
		}
	}
}

.site-footer {
	background: #000;
	a {
		color: #cbcaca;
		text-decoration: none;
		transition: all ease-out .3s;
		&:hover {
			color: #FFF;
		}
	}
	.widget {
		width: 100%;
		color: #e3e1e1;
		margin-top: 25px;
		font-size: 13px;
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			width: 20%;
		}
		ul {
			margin: 0 0;
			padding: 0 0;
			list-style: none;
			a {
				display: block;
				padding:4px 0;
			}
		}
	}
	.widget-title {
		color: #FFF;
		margin: 0 0 12px;
		font-weight: 500;
		font-size: 18px;
	}
	.widget.contact-info {
		a {
			display: inline-block;
			color: $color-red;
			padding-left: 10px;
		}
	}
	.widget.footer-logo {
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			width: 60%;
			float: right;
			text-align: right;
		}
	}
	.logodiv {
		margin-top: 35px;
	}
}

.menu-footer-menu-container {
	ul {
		display: block;
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		position: relative;
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			float: right;
			right: -10px;
		}
		ul {
			display: none;
		}
	}
	li {
		float: left;
		position: relative;
		padding-left: 11px;
		padding-right: 10px;
		a {
			display: block;
			position: relative;
		}
		&:before {
			content:"";
			display: block;
			width: 1px;
			height: 14px;
			background: #FFF;
			position: absolute;
			top: 7px;
			left: 0;
		}
	}
	li:first-child {
		&:before {
			display: none;
		}
	}
	
}

.widget-wrapper {
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-justify(left);
		@include flexbox-align-items(top);
	}
}
